.aurora-container{
position:fixed;
inset:0;
overflow:hidden;
pointer-events:none;
z-index: 0;
background:#050816;
}

body {
    position: relative
}

.blob{
position:absolute;
width:650px;
height:650px;
border-radius:50%;
filter:blur(140px);
opacity:.35;
animation:float 18s ease-in-out infinite;
}

.blob1{
background:#3b82f6;
top:-180px;
left:-120px;
}

.blob2{
background:#8b5cf6;
right:-180px;
top:120px;
animation-delay:6s;
}

.blob3{
background:#06b6d4;
bottom:-220px;
left:35%;
animation-delay:12s;
}

@keyframes float{

0%{
transform:translate(0,0) scale(1);
}

50%{
transform:translate(100px,-70px) scale(1.2);
}

100%{
transform:translate(0,0) scale(1);
}

}